<router-outlet></router-outlet>

<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>Duelists Unite</h6>
        <p class="text-justify">A place where Duelists from all different trading card games gather to duel. Home of
          YGO Omega, a free online automatic Yu-Gi-Oh simulator.</p>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-2">
        <h6>Simulators</h6>
        <ul class="footer-links">
          <li><a href="https://duelingnexus.com/">Dueling Nexus</a></li>
          <li><a href="https://www.duelingbook.com/">Dueling Book</a></li>
          <li><a href="https://ygopro.org/">KaibaPro</a></li>
          <li><a href="https://ygoproes.com/">YGOProES</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-2">
        <h6>Information</h6>
        <ul class="footer-links">
          <li><a href="https://yugipedia.com/">Yugipedia</a></li>
          <li><a href="https://beyondtheduel.com/">Beyond the Duel</a></li>
          <li><a href="https://roadoftheking.com/">Road of the King</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-2">
        <h6>Information</h6>
        <ul class="footer-links">
          <li><a href="https://discord.gg/bPHzrys">YGOCC</a></li>
          <li><a href="https://discord.gg/jNkgp3v">Duel Academy</a></li>
          <li><a href="https://discord.gg/yugioh">/r/ Yugioh Sub server</a></li>
          <li><a href="https://discord.gg/duellinksmeta">Duel Links Meta</a></li>
        </ul>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-12">
        <p class="copyright-text">
          © 2020. Created by <a href="https://github.com/victorgodoka" target="_blank">Godoka</a>, <a href="https://github.com/wSedlacek" target="_blank">wSedlacek</a>, AntiMetaman.
        </p>
      </div>
      <div class="col-md-4 col-sm-12">
        <ul class="footer-icons">
          <li><a target="_blank" href="https://discord.gg/duelistsunite"><img
                src="https://duelistsunite.org/rankings/imgs/discord.svg" alt="logo discord" /></a></li>
          <li><a target="_blank" href="https://twitter.com/duelists_u"><img
                src="https://duelistsunite.org/rankings/imgs/twitter.svg" alt="logo discord" /></a></li>
          <li><a target="_blank" href="https://www.twitch.tv/duelists_unite"><img
                src="https://duelistsunite.org/rankings/imgs/twitch.svg" alt="logo discord" /></a></li>
          <li><a target="_blank" href="https://twitter.com/duelists_u"><img
                src="https://duelistsunite.org/rankings/imgs/youtube.svg" alt="logo discord" /></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>