<main class="form">
  <ng-container *ngIf="deckData$ | async; let deckData">
    <div *ngIf="deckData.length; else import">
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Decklist
          </mat-panel-title>
          <mat-panel-description>
            {{ deckname }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <img *ngFor="let card of deckData$ | async"
          src="https://storage.googleapis.com/ygoprodeck.com/pics/{{ card.id }}.jpg" />
      </mat-expansion-panel>
      <form [formGroup]="dynamicForm">
        <button mat-button (click)="addCombo()" mat-raised-button mat-primary>Add Combo</button>
        <button class="share-link" mat-button (click)="copyShareLink()" mat-raised-button mat-primary>Copy & Share Link</button>
        <a *ngIf="this.shareLink" target="_blank" class="share-link-anchor" href="{{ this.shareLink }}">Link to this
          deck calc</a>
        <app-combo *ngFor="let form of dynamicForm.controls; let i = index" [deckData]="deckData" [form]="form">
        </app-combo>
      </form>
    </div>
  </ng-container>
</main>
<ng-template #import>
  <div class="header">
    <p class="disclaimer">
      Import a .ydk or input an Omega Deck code to continue
    </p>
    <div class="line">
      <input type="file" name="uploadydk" id="uploadydk" (change)="uploadDeck($event)" class="hide" />
      <label for="uploadydk" class="form-label mat-raised-button mat-primary">
        <mat-icon>cloud_upload</mat-icon> Import .ydk
      </label>
      <button (click)="openDialog()" mat-raised-button mat-primary>
        <mat-icon>code</mat-icon> Import Omega code
      </button>
    </div>
  </div>
</ng-template>
