<main class="form">
  <ng-container *ngIf="deckData$ | async; let deckData">
    <div *ngIf="deckData.length; else import">
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Decklist 
          </mat-panel-title>
          <mat-panel-description class="description">
            <p class="deckname">{{ deckName }}</p>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="decklist" *ngIf="fullDeckList">
          <ul *ngIf="fullPrice" class="deck-prices">
            <li><b>Card Market</b>: {{ fullPrice?.cardmarket_price | currency: 'EUR' }}</li>
            <li><b>TCG Player</b>: {{ fullPrice?.tcgplayer_price | currency: 'USD' }}</li>
            <li><b>eBay</b>: {{ fullPrice?.ebay_price | currency: 'USD' }}</li>
            <li><b>Amazon</b>: {{ fullPrice?.amazon_price | currency: 'USD' }}</li>
            <li><b>Cool Stuff Inc.</b>: {{ fullPrice?.coolstuffinc_price | currency: 'USD' }}</li>
          </ul>
          <mat-form-field class="full-width">
            <input type="text" (input)="searchForCards()" placeholder="Select a card to add into your deck"
              aria-label="Number" matInput [(ngModel)]="selectedCard" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option (click)="addCard(card.id)" *ngFor="let card of autoCompleteCards$ | async"
                [value]="card.name">
                <span class="text-option">{{ card.name }}</span>
                <img class="image-option" src="https://storage.googleapis.com/ygoprodeck.com/pics_artgame/{{
              card.id
            }}.jpg" />
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <h3 class="full-width">main</h3>
          <div class="grid full-width">
            <div class="grid__image" *ngFor="let card of fullDeckList.main; let index = index">
              <mat-icon aria-hidden="false" aria-label="delete icon" (click)="deleteCard('main', index, card)">delete
              </mat-icon>
              <img src="https://storage.googleapis.com/ygoprodeck.com/pics/{{ card }}.jpg" />
            </div>
          </div>
          <h3 class="full-width">extra</h3>
          <div class="grid full-width">
            <div class="grid__image" *ngFor="let card of fullDeckList.extra; let index = index">
              <mat-icon aria-hidden="false" aria-label="delete icon" (click)="deleteCard('extra', index, card)">delete
              </mat-icon>
              <img src="https://storage.googleapis.com/ygoprodeck.com/pics/{{ card }}.jpg" />
            </div>
          </div>
          <h3 class="full-width">side</h3>
          <div class="grid full-width">
            <div class="grid__image" *ngFor="let card of fullDeckList.side; let index = index">
              <mat-icon aria-hidden="false" aria-label="delete icon" (click)="deleteCard('side', index, card)">delete
              </mat-icon>
              <img src="https://storage.googleapis.com/ygoprodeck.com/pics/{{ card }}.jpg" />
            </div>
          </div>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Hand Testing  
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="handtesting" *ngIf="fullDeckList">
          <div class="handtesing__header">
            <button (click)="getHand()" type="button" mat-raised-button mat-primary class="gethand">Get Sample Hand</button>
            <button [disabled]="_hand.length >= deckData.length" (click)="drawOne()" type="button" mat-raised-button mat-primary class="drawone">Draw +1</button>
          </div>
          <div class="handtesting__hand">
            <img *ngFor="let id of _hand" src="https://storage.googleapis.com/ygoprodeck.com/pics/{{ id }}.jpg" />
          </div>
        </div>
      </mat-expansion-panel>
      <form [formGroup]="dynamicForm">
        <div class="export-area">
          <button (click)="copyCodes('omega')" type="button" mat-raised-button mat-primary>
            Export to Omega Code
          </button>
          <button (click)="dyanmicDownloadByHtmlTag('ydk', '.ydk')" type=" button" mat-raised-button mat-primary>
            Export to .ydk
          </button>
          <button (click)="copyCodes('ydke')" type="button" mat-raised-button mat-primary>
            Export to .ydke code
          </button>
          <button (click)="dyanmicDownloadByHtmlTag('names', '.txt')" type="button" mat-raised-button mat-primary>
            Export Decklist
          </button>
          <a target="_blank"
            href="https://api.duelistsunite.org/decks/imageify?quality=100&list={{formatExports?.imagefy}}"
            type="button" mat-raised-button mat-primary>
            Export DeckImage
          </a>
        </div>
        <button mat-button (click)="addCombo()" mat-raised-button mat-primary>Add Combo</button>
        <button class="share-link" mat-button (click)="copyShareLink()" mat-raised-button mat-primary>Copy & Share
          Link</button>
        <button mat-button (click)="reset()" mat-raised-button mat-primary class="reset">Reset</button>

        <h1 *ngIf="fullProbability >= 0" class="form-title">
          <span>Total probability: {{ fullProbability | percent: "1.2-2" }}</span>
          <button type="button" mat-icon-button matTooltipPosition="right" matTooltip="This is sum of all the individual probabilities of each combo. This means the probability of
            drawing any of the combos in your opening hand. Remember that each combo must be unique for this number to
            be accurate.">
            <mat-icon>help</mat-icon>
          </button>
        </h1>
        <div class="form-group full-line first-group">
          <mat-form-field class="small-field">
            <mat-label>Deck Size</mat-label>
            <input type="number" readonly matInput [value]="deckData?.length" />
          </mat-form-field>

          <mat-form-field class="small-field">
            <mat-label>Hand Size</mat-label>
            <mat-select [(ngModel)]="handSize" [ngModelOptions]="{standalone: true}">
              <mat-option [value]="0">0</mat-option>
              <mat-option [disabled]="i+1 > deckData?.length"
                *ngFor="let c of [].constructor(Math.min(deckData?.length, 10)); let i = index"
                [value]="i+1">
                {{i+1}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <button type="button" mat-icon-button matTooltipPosition="right"
            matTooltip="Usually 5 for the first turn and 6 for the second turn. However, this can also be used to select the number of cards sampled. For example, to calculate the probability of banishing all 3 copies of the same card when using Pot of Desires, the sampling size is 10 because 10 cards are being banished.">
            <mat-icon>help</mat-icon>
          </button>
        </div>
        <app-combo *ngFor="let form of dynamicForm.controls; let i = index" [handSize]="handSize" [indexForm]="i"
          [deckData]="deckData"
          (onProbability)="sumAll($event)"
          [form]="form">
        </app-combo>
      </form>
    </div>
  </ng-container>
</main>
<ng-template #import>
  <div class="header">
    <p class="disclaimer">
      Import a .ydk or input an Omega Deck code to continue
    </p>
    <div class="line">
      <input type="file" accept=".ydk, .ydke, *.txt" name="uploadydk" id="uploadydk" (change)="uploadDeck($event)"
        class="hide" />
      <label for="uploadydk" class="form-label mat-raised-button mat-primary">
        <mat-icon>cloud_upload</mat-icon> Import .ydk
      </label>
      <button (click)="importOmega()" mat-raised-button mat-primary>
        <mat-icon>code</mat-icon> Import Omega/YDKe code
      </button>
      <button (click)="importText()" mat-raised-button mat-primary>
        <mat-icon>code</mat-icon> Import Decklist
      </button>
    </div>
  </div>
</ng-template>
