.hide {
  display: none;
}

.form-group {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
}

.form {
  margin: 0 auto;
  max-width: 1024px;
  width: 100%;
  padding: 20px;
  color: #fff;
  min-height: 100%;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .65);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

mat-form-field~mat-form-field {
  padding-left: 10px;
}

.form-label mat-icon {
  margin-right: 5px;
}

.form-label {
  box-sizing: border-box;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;
  border-radius: 4px;
  overflow: visible;
  transform: translate3d(0, 0, 0);
  transition: background 400ms cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  max-width: 120px;
  width: 100%;
  min-height: 36px;
}

.line {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.line label~button {
  margin-left: 10px;
}

.image-option {
  position: absolute;
  right: 0;
  top: 0;
  width: 48px;
  height: 48px;
  padding: 5px;
}

.title {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.header {
  transition: .5s all;
}

.header.hidden {
  margin-top: -120px;
}

.share-link {
  background-color: #3a0868;
  color: #fff;
  margin-left: 20px;
}

.share-link-anchor {
  color: #fff;
  margin-left: 20px;
  text-decoration: none;
}

.decklist .grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
}

.decklist h3 {
  width: 100%;
  text-transform: uppercase;
}

.decklist .grid img {
  width: 100%;
}

.export-area {
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.export-area button {
  margin: 10px 0;
}

.grid__image {
  position: relative;
}

.grid__image mat-icon {
  position: absolute;
  top: -5px;
  right: -5px;
  background: rgb(168, 23, 23);
  color: #FFF;
  border-radius: 30px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.full-width {
  width: 100%;
  padding: 0 20px;
}

.reset {
  background-color: rgb(190, 40, 52);
  color: #fff;
  font-weight: bold;
  margin-left: 20px;
}

.small-line {
  display: flex;
}

.first-group .mat-icon-button,
.first-group .mat-form-field {
  color: #000;
}

.first-group {
  color: #fff;
  background: rgba(255, 255, 255, 0.85);
  padding: 20px 20px 10px 20px;
  margin: 20px 0;
  border-radius: 20px 0;
  display: flex;
  align-items: end;
}

.description {
  justify-content: space-between;
}

.deck-prices {
  padding: 20px;
  margin-bottom: 20px;
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: rgba(30, 0, 139, 0.418);
}

.handtesting {
  padding: 10px 20px;
}

.handtesting {}

.handtesing__header {
  margin-bottom: 10px;
}

.handtesting__hand {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
}

.handtesting__hand img {
  width: 100%;
}

.gethand {
  margin-right: 10px;
}

.gethand {
  background-color: rgb(44, 44, 44);
  color: #fafafa;
}

.drawone {
  background-color: rgb(46, 74, 116);
  color: #fafafa;
}

@media (min-width: 1024px) {
  .export-area button+button {
    margin-left: 10px;
  }

  .handtesting__hand,
  .decklist .grid {
    grid-template-columns: repeat(10, 1fr);
  }
}
