<main class="form">
  <ng-container *ngIf="deckData$ | async; let deckData">
    <div *ngIf="deckData.length; else import">
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Decklist <button type="button" mat-icon-button
              matTooltip="Adding or removing cards after you put a combo might bug it, before you do any changes. Please, do it carefully.">
              <mat-icon>help</mat-icon>
            </button>
          </mat-panel-title>
          <mat-panel-description>
            {{ deckName }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="decklist" *ngIf="fullDeckList">
          <mat-form-field class="full-width">
            <input type="text" (input)="searchForCards()" placeholder="Select a card to add into your deck"
              aria-label="Number" matInput [(ngModel)]="selectedCard" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option (click)="addCard(card.id)" *ngFor="let card of autoCompleteCards$ | async"
                [value]="card.name">
                <span class="text-option">{{ card.name }}</span>
                <img class="image-option" src="https://storage.googleapis.com/ygoprodeck.com/pics_artgame/{{
              card.id
            }}.jpg" />
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <h3>main</h3>
          <div class="grid">
            <div class="grid__image" *ngFor="let card of fullDeckList.main; let index = index">
              <mat-icon aria-hidden="false" aria-label="delete icon" (click)="deleteCard('main', index, card)">delete
              </mat-icon>
              <img src="https://storage.googleapis.com/ygoprodeck.com/pics/{{ card }}.jpg" />
            </div>
          </div>
          <h3>extra</h3>
          <div class="grid">
            <div class="grid__image" *ngFor="let card of fullDeckList.extra; let index = index">
              <mat-icon aria-hidden="false" aria-label="delete icon" (click)="deleteCard('extra', index, card)">delete
              </mat-icon>
              <img src="https://storage.googleapis.com/ygoprodeck.com/pics/{{ card }}.jpg" />
            </div>
          </div>
          <h3>side</h3>
          <div class="grid">
            <div class="grid__image" *ngFor="let card of fullDeckList.side; let index = index">
              <mat-icon aria-hidden="false" aria-label="delete icon" (click)="deleteCard('side', index, card)">delete
              </mat-icon>
              <img src="https://storage.googleapis.com/ygoprodeck.com/pics/{{ card }}.jpg" />
            </div>
          </div>
        </div>
      </mat-expansion-panel>
      <form [formGroup]="dynamicForm">
        <div class="export-area">
          <button (click)="copyCodes('omega')" type="button" mat-raised-button mat-primary>
            Export to Omega Code
          </button>
          <button (click)="dyanmicDownloadByHtmlTag('ydk', '.ydk')" type=" button" mat-raised-button mat-primary>
            Export to .ydk
          </button>
          <button (click)="copyCodes('ydke')" type="button" mat-raised-button mat-primary>
            Export to .ydke code
          </button>
          <button (click)="dyanmicDownloadByHtmlTag('names', '.txt')" type="button" mat-raised-button mat-primary>
            Export Decklist
          </button>
          <a target="_blank"
            href="https://api.duelistsunite.org/decks/imageify?quality=100&list={{formatExports?.imagefy}}"
            type="button" mat-raised-button mat-primary>
            Export DeckImage
          </a>
        </div>
        <button mat-button (click)="addCombo()" mat-raised-button mat-primary>Add Combo</button>
        <button class="share-link" mat-button (click)="copyShareLink()" mat-raised-button mat-primary>Copy & Share
          Link</button>
        <h1 *ngIf="fullProbability >= 0">
          <span>Total probability: {{ fullProbability | percent: "1.2-2" }}</span>
          <button type="button" mat-icon-button matTooltip="This is sum of all the individual probabilities of each combo. This means the probability of
            drawing any of the combos in your opening hand. Remember that each combo must be unique for this number to
            be accurate.">
            <mat-icon>help</mat-icon>
          </button>
        </h1>
        <div class="form-group full-line first-group">
          <mat-form-field class="small-field">
            <mat-label>Deck Size</mat-label>
            <input type="number" readonly matInput [value]="deckData?.length" />
          </mat-form-field>

          <mat-form-field class="small-field">
            <mat-label>Hand Size</mat-label>
            <input type="number" value="5" min="5" max="6" matInput [(ngModel)]="handSize"
              [ngModelOptions]="{standalone: true}" />
          </mat-form-field>
        </div>
        <app-combo *ngFor="let form of dynamicForm.controls; let i = index" [indexForm]="i" [deckData]="deckData"
          [form]="form">
        </app-combo>
      </form>
    </div>
  </ng-container>
</main>
<ng-template #import>
  <div class="header">
    <p class="disclaimer">
      Import a .ydk or input an Omega Deck code to continue
    </p>
    <div class="line">
      <input type="file" accept=".ydk, .ydke, *.txt" name="uploadydk" id="uploadydk" (change)="uploadDeck($event)"
        class="hide" />
      <label for="uploadydk" class="form-label mat-raised-button mat-primary">
        <mat-icon>cloud_upload</mat-icon> Import .ydk
      </label>
      <button (click)="importOmega()" mat-raised-button mat-primary>
        <mat-icon>code</mat-icon> Import Omega code
      </button>
      <button (click)="importText()" mat-raised-button mat-primary>
        <mat-icon>code</mat-icon> Import Decklist
      </button>
    </div>
  </div>
</ng-template>
