@font-face {
  font-family: 'Candara', sans-serif;
  src: url('../src/assets/Candara.woff2') format('woff2'),
    url('../src/assets/Candara.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: 'Candara', sans-serif;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  background: url('../src/assets/bg.png') center center no-repeat #000;
  background-size: cover;
  font-size: 18px;
}
.basic-container {
  padding: 30px;
}
.version-info {
  font-size: 8pt;
  float: right;
  margin: 8px;
}

.mat-option-text {
  padding-right: 32px;
}

.mat-expansion-panel-body {
  overflow-y: scroll;
  max-height: calc(100vh - 150px);
  padding-bottom: 60px;
}

.mat-expansion-panel {
  margin-bottom: 20px !important;
}

.mat-form-field.name_input {
  width: 100%;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media (min-width: 1024px) {
  .mat-form-field+.mat-form-field {
    margin-left: 20px;
  }
}
