<form class="combo-form" [formGroup]="form">
  <h4 class="right">Combo {{ indexForm + 1 }}</h4>
  <div>
    <h2>Probability <span data-probability>{{ probability | async | percent: "1.2-2" }}</span></h2>
  </div>
  <div class="form-group full-line">
    <mat-form-field class="small-field">
      <mat-label>Deck Size</mat-label>
      <input type="number" readonly matInput [value]="deckData?.length" />
    </mat-form-field>

    <mat-form-field class="small-field">
      <mat-label>Hand Size</mat-label>
      <input
        type="number"
        value="5"
        min="5"
        max="6"
        matInput
        formControlName="handSize"
      />
    </mat-form-field>
  </div>
  <h2>Cards
    <button type="button" mat-icon-button
      matTooltip="Select which card(s) you want in your hand as part of your combo. Each card group is unique from each other. You may select cards you do NOT want in your hand either by setting min and max to 0.">
      <mat-icon>help</mat-icon>
    </button></h2>
  <div
    class="form-group group-line card-group"
    *ngFor="let group of cardGroups; let i = index"
    [formGroup]="group"
  >
    <mat-form-field class="name_input">
      <mat-label>{{ "Card Group " + (i + 1) }}</mat-label>
      <mat-select disableOptionCentering formControlName="names" multiple>
        <mat-option
          *ngFor="let card of cardsWithFormInfo | async; let index = index"
          [value]="card.name + index"
          [disabled]="
            card.groupID && card.groupID !== group.controls.id.value
          "
        >
          <span class="text-option">{{ card.name }}</span>
          <img
            class="image-option"
            src="https://storage.googleapis.com/ygoprodeck.com/pics_artgame/{{
              card.id
            }}.jpg"
          />
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="number_input small-field">
      <mat-label>Min</mat-label>
      <mat-select formControlName="minDesired">
        <mat-option [value]="0">0</mat-option>
        <mat-option *ngFor="let card of (group.controls.names.value || []); let i = index" [value]="i+1">
          {{i+1}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="number_input small-field">
      <mat-label>Max</mat-label>
      <mat-select formControlName="maxDesired">
        <mat-option [value]="0">0</mat-option>
        <mat-option *ngFor="let card of (group.controls.names.value || []); let i = index" [value]="i+1">
          {{i+1}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <button mat-raised-button mat-primary type="button" mat-icon-button (click)="addCard()">
    <mat-icon>add</mat-icon>
  </button>

  <button mat-raised-button mat-primary type="button" mat-icon-button (click)="removeCard()">
    <mat-icon>remove</mat-icon>
  </button>
  <h2 class="title">
    <span>Searchers</span>
    <button type="button" mat-icon-button
      matTooltip="Cards that search for 2 or more of the card groups defined above. If it can only search for 1 card group, then include it as part of the card group above instead.">
      <mat-icon>help</mat-icon>
    </button>
  </h2>
  <div
    class="form-group"
    *ngFor="let group of searcherGroups; let i = index"
    [formGroup]="group"
  >
    <mat-form-field class="name_input">
      <mat-label>{{ "Search Group " + (i + 1) }}</mat-label>
      <mat-select disableOptionCentering formControlName="names" multiple>
        <mat-option
          *ngFor="let card of cardsWithFormInfo | async; let index = index"
          [value]="card.name + index"
          [disabled]="
            card.searchGroupID &&
            card.searchGroupID !== group.controls.id.value
          "
        >
          <span class="text-option">{{ card.name }}</span>
          <img
            class="image-option"
            src="https://storage.googleapis.com/ygoprodeck.com/pics_artgame/{{
              card.id
            }}.jpg"
        /></mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Targets</mat-label>
      <mat-select
        disableOptionCentering
        formControlName="associations"
        multiple
      >
        <mat-option
          *ngFor="let cardName of cardGroups; let value = index"
          [value]="value"
          >Card Group {{ value + 1 }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button type="button" mat-icon-button
      matTooltip="Must select 2 or more card groups. If your searcher only can search 1 card group, then add the searcher in the card group instead and don't use this section.">
      <mat-icon>help</mat-icon>
    </button>
  </div>

  <button mat-raised-button mat-primary type="button" mat-icon-button (click)="addSearcher()">
    <mat-icon>add</mat-icon>
  </button>

  <button mat-raised-button mat-primary type="button" mat-icon-button (click)="removeSearcher()">
    <mat-icon>remove</mat-icon>
  </button>
</form>
